@import "tailwindcss";
@plugin "@midudev/tailwind-animations";

@font-face {
  font-family: "Gistesy";
  src: url(./fonts/Gistesy.ttf);
}

@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@theme {
  --font-party: "Gistesy", sans-serif;
  --font-dm: "DM Sans", sans-serif;
  --shadow-white: 0 0 12px rgba(255, 255, 255, 0.8);
}

@utility text-shadow-white {
  text-shadow: var(--shadow-white);
}

@utility box-shadow-white {
  box-shadow: var(--shadow-white);
}

html {
  background: #6a7282;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 2rem 0;
}
